.main {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images3.alphacoders.com/710/710798.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

.custom {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customFoot {
    text-align: right;
}