.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(0,0,0, 0.2);
    min-width: 800px;
    margin-top: 2rem;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #555;
}

.paHighLight {
    background-color: lightcoral;
}